# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual env
# =========================
venv/
.env/
.venv/

# =========================
# IDE / редакторы
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS файлы
# =========================
.DS_Store
Thumbs.db

# =========================
# Логи
# =========================
*.log

# =========================
# База / дампы
# =========================
db/
*.sql
*.sqlite3
*.txt

# =========================
# Кеши pytest / mypy
# =========================
.pytest_cache/
.mypy_cache/

# =========================
# Секреты
# =========================
.env
.env.*

# =========================
# Сборки
# =========================
dist/
build/
*.egg-info/