.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main { flex: 1; }

/* контент в макете идёт ниже хедера */
.content {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
