/* NavButton.module.css */

.navButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 4px;
  position: absolute;
  width: 88px;
  height: 64px;
  background: #DEE1F9;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navButton:hover {
  background: rgba(66, 70, 89, 0.08);
}

.navButton:active {
  background: rgba(66, 70, 89, 0.1);
}

.iconContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 88px;
  height: 36px;
  border-radius: 20px;
}

.icon {
  width: 20px;
  height: 20px;
}

.labelText {
  width: 32px;
  height: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #424659;
}
